 <!-- Footer Start -->
 <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-xl-9">
                        <div class="mb-5">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-6 col-xl-5">
                                    <div class="footer-item">
                                        <a href="{{ url_for('main.index') }}" class="navbar-brand p-0">
                                            <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="Master Web Studio" style="height:45px;">
                                         </a>
                                        <p class="text-white mb-4">Diseñamos herramientas digitales pensadas para impulsar tu talento, conectarte con oportunidades y ayudarte a crecer personal y profesionalmente.</p>
                                        <div class="footer-btn d-flex">
                                            <a class="btn btn-md-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a class="btn btn-md-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                                            <a class="btn btn-md-square rounded-circle me-3" href="#"><i class="fab fa-instagram"></i></a>
                                            <a class="btn btn-md-square rounded-circle me-0" href="#"><i class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-3">
                                    <div class="footer-item">
                                        <h4 class="text-white mb-4">Links</h4>
                                        <a href="{{ url_for('main.about') }}"><i class="fas fa-angle-right me-2"></i> Sobre</a>
                                        <a href="{{ url_for('main.index') }}#feature"><i class="fas fa-angle-right me-2"></i> Nuestras Caracteristicas</a>
                                        <a href="{{ url_for('main.services') }}"><i class="fas fa-angle-right me-2"></i> Servicios</a>
                                        <a href="{{ url_for('main.faq') }}"><i class="fas fa-angle-right me-2"></i> FAQ's</a>
                                        <a href="{{ url_for('main.blog') }}"><i class="fas fa-angle-right me-2"></i> Blogs</a>
                                        <a href="{{ url_for('main.contact') }}"><i class="fas fa-angle-right me-2"></i> Contacto</a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-4">
                                    <div class="footer-item">
                                        <h4 class="mb-4 text-white">Instagram</h4>
                                        <div class="row g-3">
                                            <div class="col-4">
                                                <div class="footer-instagram rounded">
                                                    <img src="{{ url_for('static', filename='img/Rele1.png') }}" class="img-fluid w-100" alt="">
                                                    <div class="footer-search-icon">
                                                        <a href="img/Rele1.png" data-lightbox="footerInstagram-1" class="my-auto"><i class="fas fa-link text-white"></i></a>
                                                    </div>
                                                </div>
                                           </div>
                                           <div class="col-4">
                                                <div class="footer-instagram rounded">
                                                    <img src="{{ url_for('static', filename='img/Preguntas.png') }}" class="img-fluid w-100" alt="">
                                                    <div class="footer-search-icon">
                                                        <a href="img/Preguntas.png" data-lightbox="footerInstagram-2" class="my-auto"><i class="fas fa-link text-white"></i></a>
                                                    </div>
                                                </div>
                                           </div>
                                            <div class="col-4">
                                                <div class="footer-instagram rounded">
                                                    <img src="{{ url_for('static', filename='img/Mentoria2.png') }}" class="img-fluid w-100" alt="">
                                                    <div class="footer-search-icon">
                                                        <a href="img/Mentoria2.png" data-lightbox="footerInstagram-3" class="my-auto"><i class="fas fa-link text-white"></i></a>
                                                    </div>
                                                </div>
                                           </div>
                                            <div class="col-4">
                                                <div class="footer-instagram rounded">
                                                    <img src="{{ url_for('static', filename='img/meta.png') }}" class="img-fluid w-100" alt="">
                                                    <div class="footer-search-icon">
                                                        <a href="img/meta.png" data-lightbox="footerInstagram-4" class="my-auto"><i class="fas fa-link text-white"></i></a>
                                                    </div>
                                                </div>
                                           </div>
                                            <div class="col-4">
                                                <div class="footer-instagram rounded">
                                                    <img src="{{ url_for('static', filename='img/noticia2 (1).png') }}" class="img-fluid w-100" alt="">
                                                    <div class="footer-search-icon">
                                                        <a href="img/noticia2 (1).png" data-lightbox="footerInstagram-5" class="my-auto"><i class="fas fa-link text-white"></i></a>
                                                    </div>
                                                </div>
                                           </div>
                                           <div class="col-4">
                                                <div class="footer-instagram rounded">
                                                    <img src="{{ url_for('static', filename='img/noticia2 (2).png') }}" class="img-fluid w-100" alt="">
                                                    <div class="footer-search-icon">
                                                        <a href="img/noticia2 (2).png" data-lightbox="footerInstagram-6" class="my-auto"><i class="fas fa-link text-white"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-5" style="border-top: 1px solid rgba(255, 255, 255, 0.08);">
                            <div class="row g-0">
                                <div class="col-12">
                                    <div class="row g-4">
                                        <div class="col-lg-6 col-xl-4">
                                            <div class="d-flex">
                                                <div class="btn-xl-square bg-primary text-white rounded p-4 me-4">
                                                    <i class="fas fa-map-marker-alt fa-2x"></i>
                                                </div>
                                                <div>
                                                    <h4 class="text-white">Direccion</h4>
                                                    <p class="mb-0">Zipaquira Cundinamarca Colombia</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-4">
                                            <div class="d-flex">
                                                <div class="btn-xl-square bg-primary text-white rounded p-4 me-4">
                                                    <i class="fas fa-envelope fa-2x"></i>
                                                </div>
                                                <div>
                                                    <h4 class="text-white">Correo</h4>
                                                    <p class="mb-0">masterwebstudio30@gmail.com</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-4">
                                            <div class="d-flex">
                                                <div class="btn-xl-square bg-primary text-white rounded p-4 me-4">
                                                    <i class="fa fa-phone-alt fa-2x"></i>
                                                </div>
                                                <div>
                                                    <h4 class="text-white">Telefono</h4>
                                                    <p class="mb-0">(+57) 320 2051952</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-3">
                        <div class="footer-item">
                            <h4 class="text-white mb-4">¡Mantente al día con todo lo que pasa en Revelu!</h4>
                            <p class="text-white mb-3">Recibe las últimas noticias, retos, oportunidades y consejos directamente en tu correo. ¡No te pierdas ninguna actualización importante!</p>
                            <div class="position-relative rounded-pill mb-4">
                                <input class="form-control rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                                <button type="button" class="btn btn-primary rounded-pill position-absolute top-0 end-0 py-2 mt-2 me-2">Suscribirme</button>
                            </div>
                            <div class="d-flex flex-shrink-0">
                                <div class="footer-btn">
                                    <a href="#" class="btn btn-lg-square rounded-circle position-relative wow tada" data-wow-delay=".9s">
                                        <i class="fa fa-phone-alt fa-2x"></i>
                                        <div class="position-absolute" style="top: 2px; right: 12px;">
                                            <span><i class="fa fa-comment-dots text-secondary"></i></span>
                                        </div>
                                    </a>
                                </div>
                                <div class="d-flex flex-column ms-3 flex-shrink-0">
                                    <span>Llámanos</span>
                                    <a href="tel:+ 0123 456 7890"><span class="text-white">Gratis: +57 320 205 1952</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        <!-- Copyright Start -->
        <div class="container-fluid copyright py-4">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-md-6 text-center text-md-end mb-md-0">
                        <span class="text-body"><a href="#" class="border-bottom text-white"><i class="fas fa-copyright text-light me-2"></i>Master Web Studio</a>, All right reserved.</span>
                    </div>
                    <div class="col-md-6 text-center text-md-start text-body">
                        <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                        <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                        <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                       </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

        

